<div class="title-padding">
  <p class="title">보험설계사용</p>
  <p class="title"><span>라이프리 앱 & 웹</span>회원 서비스</p>
</div>
<p class="sub-title">보험설계사를 위한 차별화된 관리자 전용 페이지</p>
<div class="sub-title-sub-size">
  <p>PC를 이용할 경우 더욱 가시성 있는 화면적용이 가능합니다.</p>
  <P>겁색 포털에서 "라이프리"를 검색해보세요!</P>
</div>
<!-- 여기부터 -->
<div class="btn-group">
  <div>
    <a class="app-btn" type="button" href="https://play.google.com/store/apps/details?id=com.lifree1.app">
      <img src="https://lifree1.com/assets/images/icons/icon-google-play.png" alt="">Google Play
    </a>
  </div>

  <div>
    <a class="app-btn" type="button" href="https://apps.apple.com/us/app/%EB%9D%BC%EC%9D%B4%ED%94%84%EB%A6%AC/id1508332052?l=ko&ls=1">
      <img src="https://lifree1.com/assets/images/icons/icon-app-store.png" alt=""> App Store
    </a>
  </div>
</div>

<ul class="costomer-service-list">
  <li class="costomer-service-item">
    <div class="icon-box">
      <img class="img" src="https://cdn-icons-png.flaticon.com/512/2040/2040504.png" alt="">
      <p class="img-text">고객관리</p>
    </div>
    <p class="text-p"> 라이프리 앱과 연동 고객의 '기본정보','증권정보','보험계약정보'를 한눈에 파악 할 수 있으며, 질병이나 수술명 검색을 통해 고객이 받을 수 있는 예상 보험금을 바로 확인 할 수 있어, 이를 통한 보험 니즈환기가 가능합니다. 또한 고객의 '생일', '상령일', '자동차보만기'에 대한 알람기능을 통하여 고객에 대한 맞춤형 서비스가 가능합니다. </p>
  </li>
  <li class="costomer-service-item claiender">
    <p class="text-p"> 구글 캘린더와 연동된 '라이프리 캘린더'는 '월별', '주별', 일정계획 수립이 가능 하며, 등록된 고객의 '생일', '상령일' 등의 정보가 자동 매칭되는 기능을 가진 영업활동에 최적화된 프로그램입니다. </p>
    <div class="icon-box">
      <img class="img" src="https://cdn-icons-png.flaticon.com/512/833/833593.png" alt="">
      <p class="img-text">라이프리 캘린더</p>
    </div>
  </li>
  <li class="costomer-service-item">
    <div class="icon-box">
      <img class="img" src="https://cdn-icons-png.flaticon.com/512/456/456257.png" alt="">
      <p class="img-text">최고의 전문가</p>
    </div>
    <p class="text-p"> 35개 보험회사의 기간별 '수술보험금' 및 '진단보험금' 정보 및 그에 따른 '질병코드'를 손쉽게 확인 가능 하여, 고객문의 시 실시간으로 대응할 수 있습니다. '인슈봇' 프로그램을 통해 20여개 생명보험사이 '변액보험'과 '펀드수익율' 정보를 실시간으로 확인하고 최적의 '포트폴리오 추천' 기능을 통해 고객 상담시 최고의 전문가로 거듭날 수 있습니다. </p>
  </li>
  <li class="costomer-service-item gift">
    <p class="text-p"> 다양한 모바일 쿠폰을 국내 최저가로 제공하고 있으며, 라이프리 웹을 통하여 고객에게 전하고 싶은 메세지를 입력 후 쿠폰전송이 가능합니다. '라이프리 캘린더' 의 고객 기념일을 정보와 연계된 기프트몰 활용을 통하여 고객만족을 극대화 시킬 수 있습니다. </p>
    <div class="icon-box">
      <img class="img" src="https://cdn-icons-png.flaticon.com/512/548/548427.png" alt="">
      <p class="img-text">기프트 몰</p>
    </div>
  </li>
</ul>
