<div class="responsive-box">
  <p class="title">
    <span style="font-weight: bold">보험 설계사</span> 회원 요금제
  </p>
  <div class="container">
    <div class="items-1">
      <div class="table-title">
        <p> 빈공간</p>
      </div>
      <div class="bottom-board">
        <p>한 달 무료 이용 종료 후 월 요금</p>
      </div>
      <div class="bottom-board">
        <div>
        <img class="img" src="https://cdn-icons-png.flaticon.com/128/1077/1077063.png" alt="">
        <p class="img-text">라이프리 고객관리</p>
      </div>
      </div>
      <div class="bottom-board">
        <img class="img" src="https://cdn-icons-png.flaticon.com/128/684/684809.png" alt="">
        <p class="img-text">고객보험 불러오기</p>
      </div>
      <div class="bottom-board">
        <img class="img" src="https://cdn-icons-png.flaticon.com/128/10242/10242899.png" alt="">
        <p class="img-text">실손의료기 계산기</p>
      </div>
      <div class="bottom-board">
        <img class="img" src="https://cdn-icons-png.flaticon.com/128/272/272340.png" alt="">
        <p class="img-text">공지사항 발송</p>
      </div>
      <div class="bottom-board">
        <img class="img" src="https://cdn-icons-png.flaticon.com/128/54/54481.png" alt="">
        <p class="img-text">병명 또는 질명 검색</p>
      </div>
      <div class="bottom-board">
        <img class="img" src="https://cdn-icons-png.flaticon.com/128/54/54481.png" alt="">
        <p class="img-text">보장성보험 약관 검색</p>
      </div>
      <div class="bottom-board">
        <img class="img" src="https://cdn-icons-png.flaticon.com/128/2838/2838779.png" alt="">
        <p class="img-text">캘린더</p>
      </div>
      <div class="bottom-board">
        <img class="img" src="https://cdn-icons-png.flaticon.com/128/81/81460.png" alt="">
        <p class="img-text">경제신문</p>
      </div>
      <div class="bottom-board">
        <img class="img" src="https://cdn-icons-png.flaticon.com/128/4711/4711987.png" alt="">
        <p class="img-text">인슈봇</p>
      </div>
    </div>

    <div class="items-2">
      <div class="table-title" style="background-color: rgb(231, 60, 95);">
        <p>스탠다드</p>
      </div>
      <div class="bottom-board">
        <p style="color: rgb(231, 60, 95); font-weight: bold;">
          9,900원
        </p>
      </div>
      <div class="bottom-board">
        <img src="https://lifree1.com/assets/images/icons/grade-apply-on.png" alt="">
      </div>
      <div class="bottom-board">
        <img src="https://lifree1.com/assets/images/icons/grade-apply-on.png" alt="">
      </div>
      <div class="bottom-board">
        <img src="https://lifree1.com/assets/images/icons/grade-apply-on.png" alt="">
      </div>
      <div class="bottom-board">
        <img src="https://lifree1.com/assets/images/icons/grade-apply-on.png" alt="">
      </div>
      <div class="bottom-board">
        <img src="https://lifree1.com/assets/images/icons/grade-apply-on.png" alt="">
      </div>
      <div class="bottom-board">
        <img src="https://lifree1.com/assets/images/icons/grade-apply-on.png" alt="">
      </div>
      <div class="bottom-board">
        <img src="https://lifree1.com/assets/images/icons/grade-apply-on.png" alt="">
      </div>
      <div class="bottom-board">
        <img src="https://lifree1.com/assets/images/icons/grade-apply-on.png" alt="">
      </div>
      <div class="bottom-board">
        <img src="https://lifree1.com/assets/images/icons/grade-apply-on.png" alt="">
      </div>
    </div>

    <div class="items-3">
      <div class="table-title" style="background-color: rgb(240, 149, 149);">
        <p>
          프리미엄
        </p>
      </div>
      <div class="bottom-board">
        <p style="color: rgb(240, 149, 149); font-weight: bold;">
          19,900원
        </p>
      </div>
      <div class="bottom-board">
        <img src="https://lifree1.com/assets/images/icons/grade-apply-off.png" alt="">
      </div>
      <div class="bottom-board">
        <img src="https://lifree1.com/assets/images/icons/grade-apply-off.png" alt="">
      </div>
      <div class="bottom-board">
        <img src="https://lifree1.com/assets/images/icons/grade-apply-off.png" alt="">
      </div>
      <div class="bottom-board">
        <img src="https://lifree1.com/assets/images/icons/grade-apply-off.png" alt="">
      </div>
      <div class="bottom-board">
        <img src="https://lifree1.com/assets/images/icons/grade-apply-off.png" alt="">
      </div>
      <div class="bottom-board">
        <img src="https://lifree1.com/assets/images/icons/grade-apply-off.png" alt="">
      </div>
      <div class="bottom-board">
        <img src="https://lifree1.com/assets/images/icons/grade-apply-off.png" alt="">
      </div>
      <div class="bottom-board">
        <img src="https://lifree1.com/assets/images/icons/grade-apply-off.png" alt="">
      </div>
      <div class="bottom-board">
        <img src="https://lifree1.com/assets/images/icons/grade-apply-off.png" alt="">
      </div>
    </div>

  </div>
  <div class="button-box" style="padding-top: 48px; text-align: center;">
    <button class="btn">30일 무료 이용 신청하기</button>
  </div>
</div>
