<h1>
    <p>라이프리</p>
</h1>
<p class="title">
  <span class="bold">수술</span>로 인한&nbsp;<span class="bold">보험금</span>이 궁금하다면?
</p>
<p class="sub-title">"수술명, 증상, 병명, 신체부위 검색"</p>

<div class="btn-group">
  <div>
    <a class="app-btn" type="button" href="https://play.google.com/store/apps/details?id=com.lifree1.app">
      <img src="https://lifree1.com/assets/images/icons/icon-google-play.png" alt="">Google Play
    </a>
  </div>

  <div>
    <a class="app-btn" type="button" href="https://apps.apple.com/us/app/%EB%9D%BC%EC%9D%B4%ED%94%84%EB%A6%AC/id1508332052?l=ko&ls=1">
      <img src="https://lifree1.com/assets/images/icons/icon-app-store.png" alt=""> App Store
    </a>
  </div>
</div>

<div class="img-box">
  <img class="large-display" src="https://lifree1.com/assets/images/landing-section1-phone.png" alt="">
  <img class="small-display" src="https://lifree1.com/assets/images/landing-section1-phone-m.png" alt="">
</div>

<div class="section1">
  <!-- <app-section1/> -->
  <app-section2></app-section2>
  <app-section3></app-section3>
  <app-section4/>
</div>
