<div class="tool-bar">
  <a class="nav" routerLink="">
    <img class="logo" src="https://lifree1.com/assets/images/logo.png" alt="logo">
  </a>
  <ul class="nav-bar-intro">
    <li>
      <a class="nav" routerLink="">
        회사소개
      </a>
    </li>
    <li>
      <a class="nav" routerLink="service">
        서비스 소개
      </a>
    </li>
    <li>
      <a class="nav" routerLink="">
        고객센터
      </a>
    </li>
    <li>
      <button type="button"><span>보험설계사</span>로그인</button>
    </li>
  </ul>
</div>
